body {
    font-family: 'Inika', 'sans-serif';
}

.thanks__content {
    max-width: 1230px;
    margin-top: 350px;
}

.thanks__block {
    display: inline-block;
    position: relative;
    background: #fff;
    margin: 300 auto;
    width: 100%;

}

.thanks__back {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 280px;
    font-weight: 400;
    width: 100%;
    color: rgba(139, 121, 105, 0.05);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thanks__group {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thanks__text {
    font-size: 30px;
    font-weight: 700;
    color: #8b7969;
}

.thanks__button {
    margin-top: 50px;
}

.thanks__button-submit {
    width: 140px;
    height: 46px;
    padding: 10px 40px;
    border: none;
    background-color: #8b7969;
    color: #fff;
    font-size: 18px;
}